.card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  max-width: 282px;
  margin: auto;
}

.card__image {
  height: 282px;
  width: 282px;
  padding: 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 25px 20px;
  max-width: 282px;
  margin: 0;
}

.card__title {
  max-width: 219px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  background: transparent url(../images/like-active.svg) center no-repeat;
}
