.page {
  background-color: black;
  color: white;
  margin: 0 auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  max-width: 880px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page {
    max-width: calc(100% - 38px);
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}
