@import url(../vendor/normalize.css);
@import url("../vendor/fonts/Inter-Black.woff2");
@import url("../vendor/fonts/Inter-Medium.woff2");
@import url("../vendor/fonts/Inter-Regular.woff2");

.page {
  background-color: black;
  color: white;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
  font-family: "Inter", Arial, sans-serif;
  max-width: 880px;
}

.page__content {
}

.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  margin-bottom: 41px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__info_title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0 0 7px;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  align-self: center;
  border: 1px solid white;
}

.profile__info_description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile___add-button {
  background: transparent url(../images/add-icon-inactive.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #545454;
  margin: 67px 0 60px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 17px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 282px;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 17px 20px;
}

.card__image {
  height: 282px;
  width: 282px;
  padding: 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 282px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__title {
  max-width: 282px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
